:root {
  /* --plugin-width: 800px; */
  --plugin-width: fit-content;
  --brand-color: rgba(131, 185, 65, 1);
  --darker: rgba(91, 134, 37, 0.8);
  --gap-15: 15px 0;
  --gap-8: 8px 0px;
  --padding-sections: 0 10px;
  --btn-text-size: 12px;
  --shadow-default: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25))
    drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2))
    drop-shadow(0 4px 4px rgba(0, 0, 0, 0.15))
    drop-shadow(0 8px 8px rgba(0, 0, 0, 0.1))
    drop-shadow(0 16px 16px rgba(0, 0, 0, 0.05));
}

strong {
  font-weight: 800;
}

h1 {
  /* font-family: 'Niconne', cursive; */
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
  color: #fff;
  /* font-size: 12em; */
  font-weight: bold;
}

/* AMPHAED */

.rt-neural {
  /* width: 800px; */
  /*margin: 20% auto; */
  border-radius: 5px;
  /* background-image: url("background.png"); */
  background-repeat: no-repeats;
  /* background-size: contain; */
  color: white;
  width: var(--plugin-width);
  /* height: 600px; */
  /* padding: 20px 15px; */
}

.grid {
  display: grid;
  color: white;
  align-content:flex-start;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(35, 35, 35, 1);
  border-radius: 12px;
  /* background: linear-gradient(
      140deg,
      rgba(45, 45, 45, 1) 0%,
      rgba(40, 40, 46, 1) 52%,
      rgba(19, 19, 19, 1) 100%
    ); */
  background: linear-gradient(
    140deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(25, 25, 25, 1) 52%,
    rgba(19, 19, 19, 1) 100%
  );
}

.head-border {
  padding: 5px 0;
  grid-column: 1 / span 3;
}

.background_head {
  display: grid;
  grid-column: 1 / span 3;
  grid-template-columns: 1fr 2fr 1fr;
  width: min-content;
  padding: 0;
  margin: 0 10px;
  border-radius: 8px;
  border: 4spx solid #000;
  box-shadow: inset 0 0px 10px #000;
  background: linear-gradient(
      45deg,
      var(--brand-color) 12%,
      transparent 0,
      transparent 88%,
      var(--brand-color) 0
    ),
    linear-gradient(
      135deg,
      transparent 37%,
      var(--darker) 0,
      var(--darker) 63%,
      transparent 0
    ),
    linear-gradient(
      45deg,
      transparent 37%,
      var(--brand-color) 0,
      var(--brand-color) 63%,
      transparent 0
    ),
    rgb(26, 29, 27);
  background-size: 40px 40px;
}

.block_name {
  /* display: inline-flexbox; */
  /* font-size: 2rem; */
  width: max-content;
  padding: 15px 25px;
  /* margin: 0 auto; */
  color: #fff;
  text-align: center;
  /* white-space: pre; */
  /* width: min-content; */
  align-content: center;
  justify-items: center;
  /* border: 5px solid #6e6e6ea2; */
  border-radius: 16px;
  /* text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135; */
}

.plate {
  width: fit-content;
  align-self: center;
  grid-column: 2;
  padding: 0px;
  margin: 35px auto;
  background-color: rgba(25, 25, 25, 1);
  border-radius: 8px;
  background: linear-gradient(
    140deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(25, 25, 25, 1) 52%,
    rgba(19, 19, 19, 1) 100%
  );
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.05);
}

.plate img {
  height: 50px;
}

.brand {
  width: min-content;
  justify-self: end;
  align-self: end;
  grid-column: 3;
}

.brand img {
  padding: 5px 0;
  height: 40px;
  opacity: 0.8;
}

.model {
  font-family: "Open Sans";
  font-weight: lighter;
  font-size: 1em;
  padding: 15px 15px;
  justify-self: start;
  align-self: end;
  grid-column: 1;
  background-color: #25252591;
}

/* CONTROLS */

.controls {
  display: grid;
  width: min-content;
  justify-items: center;
  align-self: center;
  font-family: "Open Sans";
  font-weight: 400;
  /* grid-template-areas: 
          "knob knob knob knob knob"
          "label label label"
    ; */
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: 1fr 1fr; */
  justify-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  margin: 0 10px;
  border-radius: 8px;
  border: 4spx solid #000;
  grid-column: 1 / span 3;
}

.controls .label {
  grid-area: label;
  justify-self: center;
}

.seperator-grid {
  margin: 0 5px;
  border-left: 2px solid var(--brand-color);
  height: 120px;
}
/* KNOBS */
.knob-grid {
  display: grid;
  grid-template-areas: "knob" "label";
  /* background: center/cover url("/resources/knobs/scale.png{{{ns}}}"); */
  /* grid-template-areas: 
      "switch knob knob knob knob switch switch switch knob"
      "label label label label label label label label"; */
  /* width: min-content; */
  /* grid-template-columns: 4fr 2fr 1fr; */
  /* justify-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
    margin: 0 10px; */
  /* border-radius: 8px; */
  /* border: 4spx solid #000; */
  /* grid-column: 1 / span 3;  */
}
.knob-bg {
  height: 50px;
  width: 50px;
  margin: 15px auto;
  background: center/cover
    url("/resources/knobs/rw_knob_large_dark.svg{{{ns}}}");
  /* background: center/cover url("/resources/knobs/knob.png{{{ns}}}"); */
  /* background: center/cover url("/resources/knobs/scale.png{{{ns}}}"); */
  /* background-position: 20px -90px, 30px 80px; */
  /* background-repeat: no-repeat, no-repeat; */
  grid-area: knob;
  /* width: min-content; */
  /* transform: rotate(45deg); */
}

.knob-scale {
  align-self: center;
  width: 80px;
  height: 80px;
  background: center/cover url("/resources/knobs/scale.png{{{ns}}}");
}

.knob-grid .master {
  grid-area: master;
}
.knob-grid .vintage {
  align-self: flex-end;
}
/* switch */
.switch {
  align-self: center;
}

.switch img {
  height: 100px;
  width: 100px;
}

.i {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10px;
  grid-column: 1 / span 5;
  /* display: grid; */
  height: min-content;
  /* grid-template-columns: subgrid; */
}

.labels {
  display: grid;
  grid-row: 4;
  grid-template-columns: repeat(8, 1fr);
  grid-column: 1 / span 12;
  border-radius: 5px;
  margin: 5px;
  padding: 0 10px;
  background: rgba(231, 231, 231);
  background: linear-gradient(
    140deg,
    rgba(231, 231, 231, 0.5) 0%,
    rgba(215, 215, 215, 0.6) 52%,
    rgba(213, 213, 213, 0.8) 100%
  );
  grid-template-columns: subgrid;
}

.switch-grid {
  display: grid;
  align-self: center;
}

.switch-grid .flipsw {
  padding: 5px;
}

.text-switch {
  font-size: 0.5rem;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 25px;
  height: 50px;
  background: rgb(84, 84, 84);
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

label .on {
  cursor: pointer;
  text-indent: -9999px;
  width: 25px;
  height: 50px;
  background: var(--brand-color);
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: rgb(218, 214, 203);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  /* background: var(--brand-color); */
  background: #777777;
}

input:checked + label:after {
  top: calc(100% - 5px);
  transform: translateY(-100%);
}

label:active:after {
  height: 15px;
}
