/* MAIN */

.rt-neural-ax {
  border-radius: 13px;
  background-repeat: no-repeats;
  color: white;
  width: 900px;
}

.rt-neural-ax .grid {
  display: flex;
  flex-direction: column;
  background-color: rgba(35, 35, 35, 1);
  border-radius: 12px;
  background: linear-gradient(
    140deg,
    rgba(35, 35, 35, 1) 0%,
    rgba(25, 25, 25, 1) 52%,
    rgba(19, 19, 19, 1) 100%
  );
  background: linear-gradient(
    140deg,
    rgb(28, 23, 12) 0%,
    rgb(42, 34, 15) 52%,
    rgba(19, 19, 19, 1) 100%
  );
}

.rt-neural-ax .background_head {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
  margin: 15px 15px 0px 15px;
  border-radius: 12px;
  /* border: 1spx solid #000; */
  box-shadow: inset 0 0px 10px #000;
  background-color: #8bf700;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(0,1280,644)'%3E%3Cstop offset='0' stop-color='%238BF700'/%3E%3Cstop offset='1' stop-color='%23CDFF05'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: local;
  background-size: cover;
}

.rt-neural-ax .brand {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 1em 0.5em;
  width: 30%;
}

.rt-neural-ax .brand img {
  height: 25px;
  align-self: flex-end;
  filter: invert() opacity(80%);
}

.rt-neural-ax .plugin {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  color: #2727278e;
  margin: 1em 0em;
  width: 30%;
}

.rt-neural-ax .plugin h3 {
  height: 25px;
  align-self: flex-end;
  margin: 0;
}

.rt-neural-ax .plate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 0px; */
  margin: 25px 0 15px 0;
  /* width: 50%; */

  border-radius: 8px;
}

.rt-neural-ax .plate-brand {
  margin: 0;
}

.rt-neural-ax .plate h3{
  margin-top: 15px;
  color: #0c2f03af;
  font-weight: bolder;
}
.rt-neural-ax .plate-brand img {
  
  filter: drop-shadow(2px 2px 2px #0c2f03af);
}

/* CONTROLS */

.rt-neural-ax-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: end;

  text-align: center;
  margin: 15px 10px;
  border-radius: 8px;
}

.rt-neural-ax .lbl {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.rt-neural-ax .seperator-grid {
  margin: 0 10px 10px 10px;
  border-left: 4px solid rgba(97, 97, 97, 0.484);
  box-shadow: inset 2 0px 10px #000;
  border-radius: 2px;
  height: 80px;
}

/* SWITCH */

.rt-neural-ax .switch {
  align-self: center;
}

.rt-neural-ax .switch-grid {
  display: flex;
  flex-direction: column;
}

.rt-neural-ax .switch-grid .flipsw {
  padding: 5px;
}

.rt-neural-ax .text-switch {
  font-size: 0.5rem;
}

.rt-neural-ax .on .toggle-sw,
.rt-neural-ax .off .toggle-sw {
  cursor: pointer;
  text-indent: -9999px;
  width: 25px;
  height: 60px;
  background: rgba(129, 247, 0, 1);
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

.rt-neural-ax .on .toggle-sw {
  background: rgb(84, 84, 84);
}

.rt-neural-ax .on .toggle-sw:after,
.rt-neural-ax .off .toggle-sw:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: rgb(24, 112, 4);
  border-radius: 90px;
  transition: 0.2s;
}

.rt-neural-ax .off .toggle-sw:after {
  top: calc(-80% + 35px);
  transform: translateY(100%);
}

.rt-neural-ax .on .toggle-sw:after {
  background: rgb(218, 214, 203);
}

.rt-neural-ax .on .toggle-sw:after {
  top: calc(100% - 10px);
  transform: translateY(-100%);
}

/* KNOBS */
.rt-neural-ax .knob-grid {
  display: flex;
  flex-direction: column;
}

.rt-neural-ax .knob-bg {
  height: 55px;
  width: 55px;
  margin: 20px auto;
  background: center/cover url("/resources/img/rw_knob_large_dark.svg{{{ns}}}");
}

/* TODO: [AID-88]mousewheel display tooltip */
.rt-neural-ax .knob-grid span.tip {
  display: None;
}

.rt-neural-ax .knob-grid:active span.tip {
  display: block;
  position: absolute;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  padding: 4px;
  border-radius: 2px;
  width: 85px;
}

.rt-neural-ax .knob-scale {
  width: 90px;
  height: 90px;
  background-position: center;
  background: center/cover url("/resources/img/scale.svg{{{ns}}}");
}
